VITE_FIREBASE_API_KEY="AIzaSyBIfGyeHMc_0LPtX5qbeqQrabX6wXvs_kI"
VITE_FIREBASE_AUTH_DOMAIN="flashcompauth.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="flashcompauth"
VITE_FIREBASE_STORAGE_BUCKET="flashcompauth.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="466092936876"
VITE_FIREBASE_APP_ID="1:466092936876:web:0ab1780cc4fc96327a5909"
